# Folder Cache & Sesi WhatsApp
.wwebjs_auth/
.wwebjs_cache/

# Folder Dependencies Node.js
node_modules/

# File Sistem Operasi macOS
.DS_Store

# Folder Hasil Generate & Upload User
uploads/
reports/

# Folder sementara
temp/
logs/

# Kredensial Pribadi
credentials.json
.env

# Cache NPM lokal
npm/